
                <div class="modal-header">
                    <h4 class="modal-title">Nueva Cita</h4>
                </div>
                <div class="modal-body">

				<form name="myForm" class="form-horizontal" novalidate>
				
				
				
					<div class="row">
		                <div class="col-xs-8">
		                	<div class="input-group">
		                        <span class="input-group-addon has-error"><i class="zmdi zmdi-account-box"></i></span>
		                        <div class="fg-line">
		                               <input type="text" name="busqueda" id="busqueda" ng-model="modalContent.data.cliente" placeholder="Cliente" typeahead-wait-ms="150" typeahead-on-select="modalContent.seleccionarCliente($item, $model)" uib-typeahead="cliente.texto for cliente in modalContent.buscarCliente($viewValue)" typeahead-loading="Cargando" class="form-control">
		                        </div>
	                        </div>
	                    </div>
	                   <!-- <div class="col-xs-2">
                         	<ul class="actions">
								<li><a href="" ng-click="modalContent.borrar(modalContent.data.cliente)"><i class="zmdi zmdi-close-circle-o"></i></a></li>
							</ul>
						</div> --> 
					</div>
					
					<div class="row">
		                <div class="col-xs-8" >
							<label class="control-lable" for="prestacion">Prestacion</label>
		                	<select class="w-100" name="prestacion"  data-placeholder="Prestacion"  ng-options="item as item.nombre group by item.grupo for item in modalContent.prestaciones track by item.id" ng-model="modalContent.data.prestacion"/>
	                    </div>
					</div>
		                
					<div class="row">
		                <div class="col-xs-8" >
							<label class="control-lable" for="profesional">Profesional</label>
		                	<select class="w-100" name="profesional"  data-placeholder="Profesional"  ng-options="item as item.nombre group by item.grupo for item in modalContent.profesionales track by item.id" ng-model="modalContent.data.profesional"/>
	                    </div>
					</div>
					
					

					<div class="modal-footer  m-t-30">
						<button class="btn bgm-blue btn-lg" ng-click="modalContent.guardar()" ng-disabled="myForm.$invalid">
							Crear cita
						</button>
                    	<button class="btn bgm-red btn-lg" ng-click="cancel()">Cancelar</button>
                	</div>
                  </form>

                </div>

