
<div class="modal-header">
	<h4 class="modal-title">Nueva Cita</h4>
</div>
<div class="modal-body">

	<form name="myForm" class="form-horizontal" novalidate>


		<div class="row">
			<div class="form-group">
				<div class="col-md-10">
					<label for="cliente">Cliente</label> 
					<input type="text"
						name="cliente" ng-model="modalContent.data.cliente"
						placeholder="Busca un cliente por nombre, dni, telefono..."
						typeahead-wait-ms="150"
						typeahead-on-select="modalContent.seleccionarCliente($item, $model)"
						uib-typeahead="cliente.texto for cliente in modalContent.buscarCliente($viewValue)"
						typeahead-loading="Cargando" class="form-control"">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div ng-class="{'has-error' : myForm.fecha.$invalid  && !myForm.fecha.$pristine, 'has-success': myForm.fecha.$invalid && !myForm.fecha.$pristine}">
					<div class="date-picker input-group" ng-class="{ 'is-opened': modalContent.fecha.opened == true}">
						<span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
						<div class="fg-line" ng-class="{ 'fg-toggled': modalContent.fecha.opened == true }">
							<input ng-click="modalContent.fecha.open($event)"
								datepicker-popup-template-url="uib/template/datepickerPopup/popupCitas.html"
								type="text" class="form-control"
								uib-datepicker-popup="dd/MM/yyyy" show-weeks="false"
								ng-model="modalContent.fecha.valor"
								is-open="modalContent.fecha.opened"
								datepicker-options="modalContent.fecha.opciones"
								show-button-bar="false" id="fecha" name="fecha"
								ng-required="true" show-button-bar="false" placeholder="Dia" />
						</div>
					</div>

					<p ng-show="myForm.fecha.$invalid && !myForm.fecha.$pristine"
						class="help-block">
						<span ng-show="myForm.fecha.$error.required">Obligatorio</span> 
						<span ng-show="myForm.fecha.$error.date">Formato incorrecto</span>
					</p>
				</div>
			</div>

			<div class="col-sm-3">
				<div  ng-class="{'has-error' : myForm.hIni.$invalid  && !myForm.hIni.$pristine, 'has-success': myForm.hIni.$invalid && !myForm.hIni.$pristine}">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="zmdi zmdi-time ma-icon"></i></span>
						<div class="fg-line">
							<input type="text" ng-model="modalContent.data.horaIni"
								data-input-mask="{mask: '00:00'}" ng-pattern="/^([01]\d|2[0-3]):?([0-5]\d)$/" name="hIni"
								class="form-control input-sm" placeholder="Inicio"
								ng-required="true" />
						</div>					
					</div>

					<p ng-show="myForm.hIni.$invalid && !myForm.hIni.$pristine"
							class="help-block">
							<span ng-show="myForm.hIni.$error.required">Obligatorio</span> 
							<span ng-show="myForm.hIni.$error.pattern">Formato incorrecto</span>
					</p>
				</div>
			</div>

			<div class="col-sm-3">
				<div  ng-class="{'has-error' : myForm.hFin.$invalid  && !myForm.hFin.$pristine, 'has-success': myForm.hFin.$invalid && !myForm.hFin.$pristine}">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="zmdi zmdi-time ma-icon"></i></span>
						<div class="fg-line">
							<input type="text" ng-model="modalContent.data.hFin"
								data-input-mask="{mask: '00:00'}" ng-pattern="/^([01]\d|2[0-3]):?([0-5]\d)$/" name="hFin"
								class="form-control input-sm" placeholder="Fin"
								ng-required="true" />
						</div>					
					</div>

					<p ng-show="myForm.hFin.$invalid && !myForm.hFin.$pristine"
							class="help-block">
							<span ng-show="myForm.hFin.$error.required">Obligatorio</span> 
							<span ng-show="myForm.hFin.$error.pattern">Formato incorrecto</span>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<ui-input form="myForm" label="Nombre*" nombre="nombre"
				placeholder="Introduce el nombre" model="modalContent.data.nombre"
				obligatorio min="3" />
		</div>
		<div class="row">
			<ui-input form="myForm" label="Importe" nombre="importe"
				placeholder="Introduce el importe en €"
				model="modalContent.data.importe" label-size="2" input-size="4" />
			<ui-input form="myForm" label="Duración" nombre="duracion"
				placeholder="Introduce la duracción en formato 00:00"
				model="modalContent.data.duracion" label-size="2" input-size="4" />
		</div>


		<div class="row">
			<div class="form-group">
				<label class="col-md-3 control-lable" for="horario">Horario</label>
				<div class="col-md-8">
					<select class="w-100" chosen data-placeholder="Horario"
						ng-options="item as item.nombre for item in modalContent.prestaciones track by item.id"
						ng-model="modalContent.data.horario"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label class="col-md-3 control-lable" for="profesionales">Profesional</label>
				<div class="col-md-8">
					<select class="w-100" chosen data-placeholder="profesionales"
						ng-options="item as item.nombre for item in modalContent.profesionales track by item.id"
						ng-model="modalContent.data.profesional"></select>
				</div>
			</div>
		</div>




		<div class="modal-footer  m-t-30">
			<button class="btn bgm-blue btn-lg" ng-click="modalContent.guardar()"
				ng-disabled="myForm.$invalid">Crear cita</button>
			<button class="btn bgm-red btn-lg" ng-click="cancel()">Cancelar</button>
		</div>
	</form>

</div>

