<div class="modal-header">
	<h4 class="modal-title">Nuevo usuario</h4>
</div>
<div class="modal-body">

	<form name="myForm" class="form-horizontal" novalidate>

		<div class="row">
			<div class="form-group col-md-12"
				ng-class="{ 'has-error' : myForm.nombre.$invalid  && !myForm.nombre.$pristine, 'has-success': myForm.nombre.$invalid && !myForm.nombre.$pristine}">
				<label class="col-md-2 control-lable" for="nombre">Nombre *</label>
				<div class="col-md-7">
					<input type="text" ng-model="modalContent.usuario.nombre"
						id="nombre" name="nombre" class="username form-control input-sm"
						placeholder="Introduce el nombre" required ng-minlength="3" />
					<p ng-show="myForm.nombre.$invalid" class="help-block">Este
						campo es obligatorio</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12"
				ng-class="{ 'has-error' : myForm.correo.$invalid && !myForm.correo.$pristine, 'has-success': myForm.correo.$invalid && !myForm.correo.$pristine}">
				<label class="col-md-2 control-lable" for="correo">Correo *</label>
				<div class="col-md-7">
					<input type="email" ng-model="modalContent.usuario.correo"
						id="correo" name="correo" class="email form-control input-sm"
						placeholder="Introduce el e-mail" required />
					<p ng-show="myForm.correo.$invalid && !myForm.correo.$pristine"
						class="help-block">
						<span ng-show="myForm.correo.$error.required">Este campo es
							obligatorio</span> <span ng-show="myForm.correo.$error.email">Debes
							escribir un correo valido</span>
					</p>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12"
			data-ng-controller="coloresController as colores">
			<label for="eventName">Color</label>
			<div class="event-tag" data-ng-class="{ 'active': activeState }">
				<span data-ng-repeat="w in colores" data-tag="{{ w }}"
					class="bgm-{{ w }}"
					data-ng-class="{ 'selected': activeState === $index }"
					data-ng-click="onClickColor(w, $index)"></span>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn bgm-blue btn-lg" ng-click="modalContent.guardar()"
				ng-disabled="myForm.$invalid">Guardar</button>
			<button class="btn bgm-red btn-lg" ng-click="cancel()">Cancelar</button>
		</div>
	</form>

</div>