

.centro{
	text-align: center;
}

.lista-colores{
	 display: inline;
  list-style-type: none;
  margin-right: 6px;
  float: left;
}

.color-seleccionado{
	border-color: black;
    border-style: solid;
}

.has-error .input-group-addon {
  background-color: transparent;
}


.vcentro{
	vertical-align: middle;
}

.cliente-info{
	    margin-bottom:2px
}

#top-search-wrap #top-search-ultimo {
  position: absolute;
  top: 15px;
  font-size: 23px;
  font-style: normal;
  width: 45px;
  text-align: center;
  border-radius: 2px 0px 0px 2px;
  cursor: pointer;
  left: 60px;
  height: 40px;
  padding-top: 9px;
}
#top-search-wrap #top-search-ultimo:hover {
  background-color: #e3e3e3;
}
@media (max-width: 767px) {
  #top-search-wrap #top-search-ultimo {
    right: 7px;
  }
}

#top-search-wrap #busqueda {
  border: 0;
  height: 40px;
  padding: 0 10px 0 110px;
  font-size: 18px;
  width: 500px;
  border-radius: 2px;
  background-color: #efefef;
  width: 100%;
}

.lista{
	overflow:auto;
	max-height: 600px;
	min-height: 400px;
}

@media (max-width: 767px) {
.lista{
	max-height: 545px;
}

.citas{
	overflow:auto;
	width:'400px';
	max-height: 700px;
	min-height: 900px;
}

@media (max-width: 767px) {
.citas{
	max-height: 845px;
}





<!--CALENDARIO-->

#calendario-widget .fc-toolbar {
  background: #009688;
}
#calendario-widget .fc-day-header {
  color: #fff;
  background: #007d71;
  padding: 5px 0;
  border-width: 0;
}
#calendario-widget .fc-day-number {
  text-align: center;
  color: #ADADAD;
  padding: 5px 0;
}
#calendario-widget .fc-day-grid-event {
  margin: 1px 3px 1px;
}
#calendario-widget .ui-widget-header th,
#calendario-widget .ui-widget-header {
  border-width: 0;
}
#calendario .fc-toolbar {
  height: 100px;
  background-image: url('../img/cal-header.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-position: inherit;
}
#calendario .fc-toolbar:before {
  content: "";
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.36);
  position: absolute;
  bottom: 0;
  left: 0;
}
#calendario .fc-toolbar .fc-center {
  margin-top: 238px;
  position: relative;
}
@media screen and (max-width: 991px) {
  #calendario .fc-toolbar {
    height: 200px;
  }
  #calendario .fc-toolbar .fc-center {
    margin-top: 138px;
  }
}
#calendario .fc-day-header {
  color: #ADADAD;
  text-align: left;
  font-size: 14px;
  border-bottom-width: 0;
  border-right-color: #eee;
  padding: 10px 12px;
}
#calendario .fc-day-number {
  padding-left: 10px !important;
  color: #CCC;
  text-align: left !important;
}
@media screen and (min-width: 991px) {
  #calendario .fc-day-number {
    font-size: 25px;
    letter-spacing: -2px;
  }
}
#calendario .fc-day-grid-event {
  margin: 1px 9px 0;
}
.fc-today {
  color: #ffc107;
}
.fc-toolbar {
  margin-bottom: 0;
  padding: 20px 7px 19px;
  position: relative;
}
.fc-toolbar h2 {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.fc-toolbar .ui-button {
  border: 0;
  background: 0 0;
  padding: 0;
  outline: none !important;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 2px;
  color: #fff;
}
.fc-toolbar .ui-button:hover {
  background: #fff;
  color: #009688;
}
.fc-toolbar .ui-button > span {
  position: relative;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 20px;
  line-height: 100%;
  width: 30px;
  display: block;
  margin-top: 2px;
}
.fc-toolbar .ui-button > span:before {
  position: relative;
  z-index: 1;
}
.fc-toolbar .ui-button > span.ui-icon-circle-triangle-w:before {
  content: "\f2fa";
}
.fc-toolbar .ui-button > span.ui-icon-circle-triangle-e:before {
  content: "\f2fb";
}