
<div class="form-group col-md-12"
	ng-class="{ 'has-error' : getFormItem().$invalid  && !getFormItem().$pristine, 'has-success': getFormItem().$invalid && !getFormItem().$pristine}">
	<label class="col-md-3 control-lable" for="{{nombre}}">{{label}}</label>
	<div class="col-md-7">
		<input type="{{tipo}}" ng-model="model"
			id="{{nombre}}" name="{{nombre}}"
			class="form-control input-sm"
			placeholder="{{placeholder}}" ng-required="obligatorio" ng-minlength="min" ng-maxlength="max"/>
			
			<p ng-show="getFormItem().$invalid && !getFormItem().$pristine" class="help-block">
				<span ng-show="getFormItem().$error.required">Este campo es obligatorio</span>
				<span ng-show="getFormItem().$error.minlength">El tamaño debe ser superior a {{min}}</span>
				<span ng-show="getFormItem().$error.maxlength">El tamaño debe ser inferior a {{max}}</span>  
				<span ng-show="getFormItem().$error.email">Debes escribir un correo valido</span>
			</p>
	</div>
</div>