<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

 	<li class="hidden-xs">
        <a href="index.html" class="m-l-10" data-ng-click="mactrl.sidebarStat($event)"><img src="resources/img/logo.png" alt=""></a>
    </li>
    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">{{mactrl.user.centro.nombre}}</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
        
        	<li id="top-search">
                <a href="" data-ng-click="hctrl.openSearch()"><i class="tm-icon zmdi zmdi-search"></i></a>
            </li>

			<li ng-show="contexto.hasCliente()" class="dropdown p-r-25 p-l-10" uib-dropdown>
                <a uib-dropdown-toggle href="">                	
                    <i class="tm-icon zmdi zmdi-face vcentro p-r-5"></i>
                    <span class="">{{contexto.getNombreCliente()}}<span>                    
                </a>
                <ul class="dropdown-menu dm-icon pull-right ">
                	<li class="hidden-xs center p-l-10 p-r-10 p-t-10 p-b-10">
	                	<p class="cliente-info"><i class="zmdi zmdi-assignment zmdi-account-box"></i> <span>{{contexto.getCliente().dni}}</span></p>
	                    <p class="cliente-info"><i class="zmdi zmdi-assignment zmdi-smartphone-android"></i> <span>{{contexto.getCliente().telefono}}</span></p>
                    </li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-calendar"></i> Historico</a>
                    </li>
                    <li>
                        <a data-ng-click="contexto.modificarCliente()" href=""><i class="zmdi zmdi-edit"></i> Modificar</a>
                    </li>
                    <li>
                        <a data-ng-click="contexto.cancelarSeleccion()" href=""><i class="zmdi zmdi-close"></i> Cancelar selección</a>
                    </li>
                </ul>
            </li>


            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts">9</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="img/profile-pics/{{ w.img }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.user }}</div>
                                        <small class="lv-small">{{ w.text }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>
            
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="skin-switch hidden-xs">
                        <span ng-repeat="w in mactrl.skinList | limitTo : 6" class="ss-skin bgm-{{ w }}" data-ng-click="mactrl.skinSwitch(w)"></span>
                    </li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a data-ng-click="hctrl.clearLocalStorage()" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <i id="top-search-ultimo" class="zmdi zmdi-search-for" data-ng-click="hctrl.closeSearch()"></i>
        <!-- <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in contexto.getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">-->
        <input type="text" name="busqueda" id="busqueda" ng-model="cliente.texto" placeholder="Busca un cliente por nombre, dni, telefono..." typeahead-wait-ms="150" typeahead-on-select="contexto.seleccionarCliente($item, $model)" uib-typeahead="cliente.texto for cliente in contexto.buscarCliente($viewValue)" typeahead-loading="Cargando" class="form-control">
		
    </div>
</div>
