<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
				{{mactrl.user.nombre}}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('configuracion') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-view-compact"></i>Configuración</a>

            <ul>
            	<li data-ng-if="mactrl.isRoot()"><a data-ui-sref-active="active" data-ui-sref="configuracion.centros" data-ng-click="mactrl.sidebarStat($event)">Centros</a></li>
            	<li data-ng-if="!mactrl.isRoot() && mactrl.isAdmin()"><a data-ui-sref-active="active" data-ui-sref="configuracion.centro" data-ng-click="mactrl.sidebarStat($event)">Centro</a></li>
                
                <li><a data-ui-sref-active="active" data-ui-sref="configuracion.usuarios" data-ng-click="mactrl.sidebarStat($event)">Usuarios</a></li>                
            </ul>
        </li>
        
        <li>
            <a href="https://wrapbootstrap.com/theme/material-admin-responsive-angularjs-WB011H985"><i class="zmdi zmdi-money"></i> Buy this template</a>
        </li>
    </ul>
</div>
