<div class="container" data-ng-controller="citasController as citasCtr">


<div class="card m-b-0" id="lista-main">
		
        <div class="ms-menu" data-ng-class="{ 'toggled': mactrl.lvMenuStat }">
            <div class="card-header ch-alt clearfix">
            	

            	<p class="f-500 c-black m-b-15">Profesional</p>
                <select chosen data-placeholder="Profesional" class="w-100" ng-options="item as item.nombre group by item.grupo for item in maestros.profesionales track by item.id" ng-model="profesional"> 
             
                </select>
                    
                <div class="m-t-15">    
            	<h2>Prestaciones<small>Arrastre una prestacion a una hora</small></h2>
            	</div>
            </div>

            <div class="listview lv-user m-t-5 citas">
                <div class="lv-item media" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" data-jqyoui-draggable="{placeholder:true, animate:false, deepCopy:true, onStart: 'onDragPrestacion(p)'}" ng-repeat="p in maestros.prestaciones" ng-click="seleccionarPrestacion(p)" ng-class="{ 'active' : p.seleccionado==true  }">
                    <div class="lv-avatar bgm-{{p.color}} pull-left">{{p.nombre.substr(0,1)}}</div>
                    <div class="media-body">
                        <div class="lv-title">{{p.nombre}}</div>
                        <div class="lv-small"><i class="zmdi zmdi-time"></i> {{p.duracion }}m &nbsp;&nbsp;&nbsp;<i class="zmdi zmdi-card"></i> {{p.importe}}€</div>
                        <div class="lv-small"></div>
                    </div>
                </div>
            </div>


        </div>
 
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="card-header ch-alt clearfix">
                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <div class="lvh-label">
                        Citas
                    </div>

                    <ul class="lv-actions actions">
                    	<li>
                            <a href="" ng-click="refrescarUsuarios()">
                                <i class="zmdi zmdi-refresh"></i>
                            </a>
                        </li>  
                        <li class="dropdown" uib-dropdown>
			                <a href="" uib-dropdown-toggle>
			                    <i class="zmdi zmdi-time-interval"></i>
			                </a>
			
			                <ul class="dropdown-menu dropdown-menu-right">
			                    <li  data-huecos data-minutos="10">
			                        <a href="">Huecos cada 10 minutos</a>
			                    </li>
			                    <li  data-huecos data-minutos="20">
			                        <a href="">Huecos cada 20 minutos</a>
			                    </li>
			                    <li  data-huecos data-minutos="30">
			                        <a href="">Huecos cada 30 minutos</a>
			                    </li>
			                    <li  data-huecos data-minutos="40">
			                        <a href="">Huecos cada 40 minutos</a>
			                    </li>
			                    <li  data-huecos data-minutos="50">
			                        <a href="">Huecos cada 50 minutos</a>
			                    </li>
			                    <li  data-huecos data-minutos="60">
			                        <a href="">Huecos cada 60 minutos</a>
			                    </li>
			                </ul>
			            </li>  
			            <li class="dropdown" uib-dropdown>
			                <a href="" uib-dropdown-toggle>
			                    <i class="tm-icon zmdi zmdi-view-agenda"></i>
			                </a>
			
			                <ul class="dropdown-menu pull-right dm-icon">
			                    <li  data-vista data-nombre="agendaDay">
			                        <a href=""><i class="zmdi zmdi-view-day"></i> Diario</a>
			                    </li>
			                    <li  data-vista data-nombre="agendaWeek">
			                        <a href=""><i class="zmdi zmdi-view-week"></i> Semanal</a>
			                    </li>
			                    <li  data-vista data-nombre="month">
			                        <a href=""><i class="zmdi zmdi-view-month"></i> Mensual</a>
			                    </li>
			                    <li  data-vista data-nombre="customMes">
			                        <a href=""><i class="zmdi zmdi-view-month"></i> Custom</a>
			                    </li>
			                </ul>
			            </li>                 
                    </ul>
                    
                    <button class="btn bgm-red btn-float waves-effect" ng-click="nueva()"><i class="zmdi zmdi-plus"></i></button>
   
                </div>


            	<div id="calendar-widget" calendario procesar-dia="aplicarHorario(dia)" sources="getSource()" model="calendario" height="480" class="citas"></div>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>  
</div>

