<div class="container" data-ng-controller="tablaCentros as centrosCtr">


<div class="card m-b-0 citas" id="messages-main">

        <div class="ms-menu citas" data-ng-class="{ 'toggled': mactrl.lvMenuStat }">
            <div class="card-header ch-alt clearfix" >
            	<h2>Prestaciones<small>Arrastre una prestacion a una hora</small></h2>


				<ul class="lv-actions actions">
                    	<li>
                            <a href="" ng-click="refrescar()">
                                <i class="zmdi zmdi-refresh"></i>
                            </a>
                        </li>
                </ul>
            </div>

            <div class="listview lv-user m-t-20 citas">
                <div class="lv-item media" data-draggable ng-repeat="w in datos" ng-click="seleccionarCentro(w)" ng-class="{ 'active' : w.seleccionado==true  }">
                    <div class="lv-avatar bgm-{{w.color}} pull-left">{{w.nombre.substr(0,1)}}</div>
                    <div class="media-body">
                        <div class="lv-title">{{w.nombre}}</div>
                        <div class="lv-small">{{w.correoAdmin }}</div>
                        <div class="lv-small">{{w.ubicacion.poblacion }}</div>
                    </div>
                    <ul class="lv-actions actions">
                    	<li>
                            <a href="" ng-click="eliminar(w)">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>
	                </ul>
                </div>
            </div>


        </div>
 
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="card-header ch-alt clearfix">
                    <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </div>

                    <div class="lvh-label">
                        Citas
                    </div>

                    <ul class="lv-actions actions">
                    	<li>
                            <a href="" ng-click="refrescarUsuarios()">
                                <i class="zmdi zmdi-refresh"></i>
                            </a>
                        </li>                     
                    </ul>
                    
                    <button class="btn bgm-red btn-float waves-effect" ng-click="nuevo()"><i class="zmdi zmdi-plus"></i></button>
   
                </div>

                 <div id="calendar" data-calendario class="citas"></div>
            
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
