<div class="container">
    	<div class="card">
               <div class="card-header ch-alt">
                   <h2>
			
						<div class="row">
			                <div class="col-xs-4">
			                	<div class="form-group">
			                		<div class="fg-line">
			                            <input type="text" ng-model="nombre" class="form-control" placeholder="Nombre">
			                        </div>
			                        <p ng-show="nombre.$invalid" class="help-block">
									Este campo es obligatorio
							      	</p>
			                    </div>
			                </div>
						</div>
	
					</h2>
                   <ul class="actions">
                   	<li ng-show="!editor">
                           <a href="" ng-click="toggleEditor()">
                               <i class="zmdi zmdi-border-color"></i>
                           </a>
                       </li>
                       <li ng-show="editor">
                           <a href="" ng-click="toggleEditor(true)">
                               <i class="zmdi zmdi-search"></i>
                           </a>
                       </li>
                       <li>
                           <a href="" ng-click="guardar()">
                               <i class="zmdi zmdi-card-sd"></i>
                           </a>
                       </li>
                       <li>
                           <a href="" ng-click="eliminar()">
                               <i class="zmdi zmdi-delete"></i>
                           </a>
                       </li>
                   </ul>    	                        
               </div>
			<div class="card-body card-padding">    		
				<div ng-show="editor">    		
					<ui-blockly toolbox="resources/js/blockly/horarios/toolbox.xml" 
								start-workspace="resources/js/blockly/horarios/workspace.xml" 
								on-loaded="onLoaded()" width="100%" height="480px" model="blockly"/>				
				</div>
				<div ng-show="!editor">
					<div id="calendar-widget" calendario procesar-dia="aplicarHorario(dia)" model="calendario" height="480" class="citas"></div>  
				</div>
			</div>        	
      </div>         
</div>


