<div class="container">

 

    	<div class="card"  data-ng-controller="editorHorario as horarioCtr">
                <div class="card-header ch-alt m-b-20">
                    <h2>Horario<small>Editar el horario</small></h2>
                    <ul class="actions">
                        <li>
                            <a href="" ng-click="test()">
                                <i class="zmdi zmdi-card-sd"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>
                    </ul>    	                        
                </div>
	
	<ui-blockly toolbox="resources/js/blockly/horarios/toolbox.xml" 
				start-workspace="resources/js/blockly/horarios/workspace.xml" 
				width="100%" height="480px"/>
	
    		<button onclick="showCode()">Show JavaScript</button>
	
		


	            <p>Add quick, dynamic tab functionality to transition through panes of local content, even via dropdown menus. <a target="_blank" href="http://angular-ui.github.io/bootstrap/#/tabs">Read more...</a></p>

		
        	
      </div>   
      
</div>


