<div class="container">

	<!-- Colored Headers -->
    <div class="block-header" data-ng-controller="usuarios as ctr">
        <h2>Pase de visita</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-check"></i>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="row">
    	<div class="col-sm-4"> 
	    	<div class="card">
	            <div class="card-header ch-alt">
	                <h2>Eduardo Martín García</h2>
	            </div>
	            <div class="card-body card-padding">
	                <div class="pmo-contact">        
	                    <ul>
	                        <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 617295076</li>
	                        <li class="ng-binding"><i class="zmdi zmdi-account-box"></i> 47103657W</li>
	                        <li>
	                            <i class="zmdi zmdi-pin"></i>
	                            <address class="m-b-0 ng-binding">
	                                Terrassa
	                            </address>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="col-sm-8"> 
        	<div class="card">
                <div class="card-header ch-alt">
         
						<div class="row">
			                <div class="col-xs-4">
			                	<div class="form-group">
			                		<div class="fg-line">
			                            <input type="text" ng-model="nombre" class="form-control" placeholder="Motivo de la visita">
			                        </div>
			                    </div>
			                </div>
						</div>
                </div>

                <div class="card-body card-padding">
                    <textarea placeholder="Anotaciónes sobre la visita"></textarea>
                </div>
            </div>
        
        </div>
     </div>
</div>



